.awewaylogo{
  width: 100px;
  height: 50px;
  margin-left:300px ;
  margin-top: 13px;
}
.rtdc-logo{
  width: 100px;
  height: 100px;
}
#loginBtn{
  border-radius: 30px !important;
  width: 150px;
}
.rtdc-cover{
  /* size: cover; */
  width: 100%;
  height: 100%;
}
