.awewaylogo{
  width: 80px !important;
  height: 60px !important;
  margin-top: 20px !important ;
}
.rtdc-logo{
  width: 100px!important;
  height: 100px!important;
}
#loginBtn{
  border-radius: 30px !important;
  width: 150px!important;
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.rtdc-cover{
  /* size: cover; */
  width: 100% !important;
  height: 100% !important;
}
.contact-cover{
width: 100% !important; 
height: 100% !important;
}

.text{
  color: darkblue !important;
  margin-top:38px !important;
  margin-left: 218px !important;
  margin-right:5px !important ;
}
.pragraph{
  /* text-align: center; */
  /* justify-items: center; */
  justify-content: space-between;
  margin: 40px 40px 0 60px !important;
}