.awewaylogo{
  width: 100px !important;
  height: 50px !important;
  margin-left:280px !important;
  margin-top: 13px !important;
}
.rtdc-logo{
  width: 100px!important;
  height: 100px!important;
}
#loginBtn{
  border-radius: 30px !important;
  width: 150px!important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.rtdc-cover{
  /* size: cover; */
  width: 100% !important;
  height: 100% !important;
}
.contact-cover{
width: 100% !important;
height: 100% !important;
}

